.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .logo-container {
    order: 2; /* Sağ tarafa hizalamak için */
  }

  .logo {
    width: 150px; /* Logonun boyutunu ayarlıyoruz */
  }

  .menu-container {
    display: flex;
    gap: 15px;
    order: 1; /* Sol tarafa hizalamak için */
  }

  .menu-item {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  .auth-container {
    display: flex;
    align-items: center;
    gap: 10px;
    order: 3; /* Sağ tarafa hizalamak için */
  }

  .welcome-message {
    margin-right: 10px;
  }

  .logout-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
  }