.welcome-container {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* Arka plan opaklığı */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.welcome-container h2 {
  color: #333;
  margin-bottom: 20px;
}

.welcome-container p {
  color: #666;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #007bff;
  display: inline;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-button {
  background-color: #28a745;
}

.register-button:hover {
  background-color: #218838;
}
